@import '../../config.styl';

.suite {
	$titleHeight = 50px;
	padding-top: $titleHeight;
	&--title {
		line-height: $titleHeight;
		height: $titleHeight;
		position: fixed;
		z-index: 1;
		width: 100%;
		margin-top: -($titleHeight);
		padding: 0 $padding;
		border-bottom: 1px dashed;
	}
	&--content {
		padding: 5px;
		padding-top: 0; 
		display: inline-block;
		max-width: 100%;
	}
}