@import '../../config.styl';

.test {
	position: relative;
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		width: 3px;
		top: 0;
		right: 0;
		height: 100%;
		display: none;
	}
	&:hover {
		& + .test.test-active:before {
			content: '';
			position: absolute;
			top: -3px;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: #ffffff;
		}
	}
	&:last-child {
		margin-bottom: 0;
		&.test-active {
			border-bottom: none;
		}
	}

	&--title {
		padding: 0 $padding - 5px;
		display: flex;
		align-items: center;
		line-height: $blockHeight;
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--content {
		padding: 0 $padding - 5px;
		transition: height .5s ease;
		height: 0;
		overflow: hidden;
		&:after {
			content: '';
			display: table;
			clear: left;
		}
	}

	&--status {
		font-size: 20px;
		line-height: inherit;
		margin-right: 5px;
	}

	&--screenshot {
		float: left;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		&Image {
			display: block;
			max-width: 300px;
			max-height: 200px;
		}
	}

	&--screenshotDescription {
		font-size: 12px;
	}

	&-active {
		border-bottom: 3px solid;
		&:after {
			display: block;
		}
		.test {
			&--content {
				padding-bottom: 5px;
				height: auto;
			}
		}
	}
}