@import '../../config.styl';

.test {
	transition: background-color .1s ease;
	&:hover {
		background-color: lighten($separator-color, 30%);
	}
	&.test-active {
		background-color: lighten($separator-color, 60%);
	}
	&-success {
		&:after {
			background-color: $success-color;
		}
		.test {
			&--status {
				color: $success-color;
			}
		}
	}
	&-fail {
		&:after {
			background-color: $error-color;
		}
		.test {
			&--status {
				color: $error-color;
			}
		}
	}
}