@import '../../config.styl';

.test {
	transition: background-color .1s ease;
	&:hover {
		background-color: lighten($separator-color, 30%);
	}
	&.test-active {
		background-color: lighten($separator-color, 60%);
		& + .test.test-active {
			box-shadow: 0 1px 0 #ffffff inset;
		}
	}
	&--screenshot {
		transition: filter .1s ease;
		transition: -webkit-filter .1s ease;
		&:hover {
			filter: brightness(120%);
		}
	}
	&-success {
		&:after {
			background-color: $success-color;
		}
		.test {
			&--status {
				color: $success-color;
			}
		}
	}
	&-fail {
		&:after {
			background-color: $error-color;
		}
		.test {
			&--status {
				color: $error-color;
			}
		}
	}
}