@import '../../config.styl';

.app {
	$headerHeight = 65px;
	$asideWidth = 300px;

	height: 100%;
	position: relative;

	&--header {
		position: fixed;
		width: 100%;
		height: $headerHeight;
	}

	&--aside {
		position: fixed;
		top: $headerHeight;
		bottom: 0;
		width: $asideWidth;
		border-right: 1px solid;
	}
	&--content {
		padding-top: $headerHeight;
		padding-left: $asideWidth;
	}
}