@import '../../config.styl';

.header {
	padding: 0 20px;
	height: 100%;
	font-size: 20px
	display: flex;
	align-items: center;
	border-bottom: 5px solid;

	&--title {
		margin-right: auto;
	}
	&--link {
		font-size: 16px;
		&:hover {
			text-decoration: underline;
		}
	}
	&--status {
		font-size: 40px;
	}
}