@import './config.styl';
@import 'nib/reset';
global-reset();

html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', 'Arial';
	color: $text-color;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}